db.sqlite3
.idea/
.vscode/
.env
.devcontainer/
**/__pycache__/*
media/
/static
log/
docker-compose.override.yml
docker-compose.yml

**/node_modules/*
web/node_modules/*
web/.env.local
web/src/components/**/*.css
web/build
celerybeat.pid
deploy

playerReact/node_modules/
playerReact/.env.local
playerReact/src/components/**/*.css


venv/
