@import 'styles/_colors.scss';

.progress {
  width: 100% !important;
  background-color: $font-color;
  height: 25px;
  width: 350px;
  margin: 0;
  border-radius: 5px;
  border-color: transparent;

  .progress-bar {
    color: white;
    display: inline-block;
    height: 100%;
    border-radius: 5px;

    transition: width .4s ease-in-out;
    background-color: $base-color;

    .progress-value {
      padding-left: 5px;
    }
  }
}