{
    "OutputGroups": [
      {
        "CustomName": "DASH-ISO-GROUP-SETTINGS",
        "Name": "DASH ISO",
        "Outputs": [
          {
            "ContainerSettings": {
              "Container": "MPD"
            },
            "VideoDescription": {
              "Width": 640,
              "Height": 360,
              "CodecSettings": {
                "Codec": "H_264",
                "H264Settings": {
                  "MaxBitrate": 800000,
                  "RateControlMode": "QVBR",
                  "SceneChangeDetect": "TRANSITION_DETECTION"
                }
              }
            },
            "NameModifier": "_640x360"
          },
          {
            "ContainerSettings": {
              "Container": "MPD"
            },
            "AudioDescriptions": [
              {
                "AudioSourceName": "Audio Selector 1",
                "CodecSettings": {
                  "Codec": "AAC",
                  "AacSettings": {
                    "Bitrate": 96000,
                    "CodingMode": "CODING_MODE_2_0",
                    "SampleRate": 48000
                  }
                }
              }
            ],
            "NameModifier": "_audio"
          }
        ],
        "OutputGroupSettings": {
          "Type": "DASH_ISO_GROUP_SETTINGS",
          "DashIsoGroupSettings": {
            "SegmentLength": 30,
            "Destination": "",
            "FragmentLength": 2
          }
        }
      },
       {
      "CustomName":"Thumbs",
      "Name":"File Group",
      "Outputs":[
        {
          "ContainerSettings":{
            "Container":"RAW"
          },
          "VideoDescription":{
            "Width":1280,
            "ScalingBehavior":"DEFAULT",
            "Height":720,
            "TimecodeInsertion":"DISABLED",
            "AntiAlias":"ENABLED",
            "Sharpness":50,
            "CodecSettings":{
              "Codec":"FRAME_CAPTURE",
              "FrameCaptureSettings":{
                "FramerateNumerator":30,
                "FramerateDenominator":150,
                "MaxCaptures":10000000,
                "Quality":80
              }
            },
            "DropFrameTimecode":"ENABLED",
            "ColorMetadata":"INSERT"
          },
          "Extension":"jpg",
          "NameModifier":"_high"
        },
        {
          "VideoDescription":{
            "ScalingBehavior":"DEFAULT",
            "TimecodeInsertion":"DISABLED",
            "AntiAlias":"ENABLED",
            "Sharpness":50,
            "CodecSettings":{
              "Codec":"FRAME_CAPTURE",
              "FrameCaptureSettings":{
                "FramerateNumerator":30,
                "FramerateDenominator":150,
                "MaxCaptures":10000000,
                "Quality":80
              }
            },
            "DropFrameTimecode":"ENABLED",
            "ColorMetadata":"INSERT",
            "Width":160,
            "Height":90
          },
          "ContainerSettings":{
            "Container":"RAW"
          },
          "NameModifier":"_low",
          "Extension":"jpg"
        }
      ],
      "OutputGroupSettings":{
        "Type":"FILE_GROUP_SETTINGS",
        "FileGroupSettings":{
          "Destination":""
        }
      }
    }
    ],
    "Inputs": [
      {
        "AudioSelectors": {
          "Audio Selector 1": {
            "DefaultSelection": "DEFAULT"
          }
        },
        "VideoSelector": {},
        "TimecodeSource": "ZEROBASED",
        "FileInput": ""
      }
    ]
  }
  